@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar-links .active{
    border-bottom: 2px blue solid;
    border-radius: 15%;
    padding-bottom: 3px;
    
}
.footer-links .active{
   color: white;
}
.glassmorphism{
    background: rgba(255,255,255,0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.3);
  }